@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300;700&display=swap');

:root {
  --font-base: 'Roboto', sans-serif;
  --font-title: 'Quicksand', sans-serif;

  --base-white: #fff;
  --base-black: #999;
}
